/* Alt */ 
* {
  margin: 0;
  padding: 0;
}

/*  Design for mobil */ 
main.meldingssiden { 
	margin: 0 auto;
}

section {
  background: white;  
}

section.melding {
  background: #e5ebeb; 
}

section.gruppe {
  background: #e5ebeb;  
}
.mobil {
  visibility:visible;
  font-size: 1.2em;
}

.innboksMelding {
  display:flex;
}

.tidMelding {
  font-size: 0.8em ;
}

/*  Design for stor skjerm  */ 
/* Main blir delt i 2 kolonner */
@media screen and (min-width: 950px) {

main.meldingssiden {
  display: flex; 
  background: white; 
}

section {
  margin: 12px;
}

section.melding {
  background: #e5ebeb; 
  width: 60%;
}

section.gruppe {
  background: #e5ebeb;
  width: 40%;  
}

.mobil {
  visibility:hidden;
}

} /* slutt på media-queiry for stor skjerm  */

